{%styles block%}
{ super()}
<link rel="stylesheet" href="../static/css/styles.css">
{endblock}
{%block content%}
    <div class="card">
    <h1>More than just transport!</h1>
    <P>
        Sekunde Delivery established in 2019 in Nairobi, Kenya as a transport company. By combining in-depth industry
        experience with a dynamic and young management team, Sekunde Delivery has rapidly established itself as an
        industry leader and as the preferred transport company for a number of local, international and multi-national
        client across the Sub-Saharan Region.

        Over the months, we have grown our group presence across East Africa, with regional offices across Kenya,
        Uganda, Tanzania & Rwanda. With this in place, we have been able to offer customized and personalized service to
        all our partners and clients within their specific geographic locations. Today, our range of service offerings
        have grown extensively thus allowing us to offer a number of additional solutions through our group divisions;
        Heavy Commercial Transport (abnormal loads, frozen & perishable and petroleum products), Clearing, Forwarding &
        Logistics, Intercity Bus Transport as well as Door-to-Door Courier Services.

        At Sekunde Delivery, our strategy is to continuously stay ahead of the competition and continuously adhering with
        international standards. To keep in line with this, we are consistently streaming each of our divisions by
        enhancing our internal processes, keeping our technology up-to-date and improving our management training &
        productivity.

        Sekunde Delivery Express is our regional Inter-city Bus Travel division. Serving more than 50 destinations across
        East and Central Africa, Sekunde Delivery’s fleet is precisely that... Modern. All our buses are designed as
        luxury liners, with three classes of seating from VIP to Corporate. With our in-house workshops, we continuously
        maintain our entire fleet to ensure the highest standard of safety, security and comfort, which is why we are
        considered as the preferred travel partner for corporate's and patrons alike.</P>
    </div>
    <footer class="page-footer font-small blue pt-4">

            
            <div class="container-fluid text-center text-md-left">
          
              
              <div class="row">
          
                
                <div class="col-md-6 mt-md-0 mt-3">
          
                  
                  <h5 class="text-uppercase">More About us</h5>
                  
                </div>
                
          
                <hr class="clearfix w-100 d-md-none pb-3">
          
                
                <div class="col-md-3 mb-md-0 mb-3">
          
                  
                  <h5 class="text-uppercase">Links</h5>
          
                  <ul class="list-unstyled">
                    <li>
                      <a href="#!">Privacy Policy</a>
                    </li>
                    <li>
                      <a href="#!">Terms & Conditions</a>
                    </li>
                    
                  </ul>
          
                </div>
                
                               
              </div>
              
            </div>
            
            <div class="footer-copyright text-center py-3">© 2019 Copyright:
              <a href="/">Sekunde Delivery</a>
            </div>
            
          
          </footer>
          
    {%endblock%}