
{% extends 'base.html'%}
{% block styles%}
{{ super() }}
<link rel="stylesheet" href="../static/css/styles.css">
<link href="https://fonts.googleapis.com/css?family=Notable&display=swap" rel="stylesheet">
{% endblock %}

{% block content%}
       <div class="contact">
        <h1>Contact Us</h1>
        <form>
            <p> You can reach us through:</p>
            <div class="message">
            <label>Enter Name</label> <br>
            <input type="text" id="name" placeholder="Enter your Name" required><br>
            <label>Enter Email</label><br>
            <input type="text" id="email" placeholder="Enter your Email" required><br>
            <label>Enter your message</label><br>
            <input type="text" id="message" placeholder="Enter your Message" required><br>
            <button class="submit btn-primary" id="submit">submit</button>
         </div>
     
   
        

    
</body>

{% endblock %}