{%extends "base.html"%}

{%block content%}
<div class="container">
    <div class="row">

        <div class="card">
            <h1>Get your goods delivered for cheaper price across our agent network<h1>
        </div>

        <hr>

        <div class="col-md-4">
            <div class="strong">
                <div class="card">

                    <h5>Western Kenya</h5> Delivery Points
                </div>
            </div>
            <div class="select">
                <div class="card">
                    <div class="option"><a class="info" href="{{url_for('main.checkout')}}">Kericho-busia</a>
                    </div>
                </div>
                <hr>
                <div class="card">
                    <div class="option"><a class="info" href="{{url_for('main.checkout')}}">Kakamega-bungoma</a> </div>
                </div>
                <hr>
                <div class="card">
                    <div class="option"><a class="info" href="{{url_for('main.checkout')}}">kisii-kekoka</a></div>
                </div>
                <hr>
                <div class="card">
                    <div class="option"><a class="info" href="{{url_for('main.checkout')}}">kisumu-homa bay</a></div>
                </div>
                <hr>
                <div class="card">
                    <div class="option"><a class="info" href="{{url_for('main.checkout')}}">kisumu-bungoma</a></div>
                </div>
                <hr>
                <div class="card">
                    <div class="option"><a href="{{url_for('main.checkout')}}">kisumu-busia</a></div>
                </div>
                <hr>
                <div class="card">
                    <div class="option"><a class="info" href="{{url_for('main.checkout')}}">kisii-nyamira</a></div>
                </div>
                <hr>
                <div class="card">
                    <div class="option"><a class="info" href="{{url_for('main.checkout')}}">kercho- kisumu</a></div>
                </div>
                <hr>
                <div class="card">
                    <div class="option"><a class="info" href="{{url_for('main.checkout')}}">Nakuru-kericho</a> </div>
                </div>
                <hr>
            </div>

            <p>We’re expanding to over 150 delivery points in Western<br> Kenya within the next 3 months</p>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="strong">
                    <h5>Central Kenya</h5> Delivery Points
                </div>
            </div>
            <div class="select">
                <div class="card">
                    <div class="option"><a class="info" href="{{url_for('main.checkout')}}">Kiambu-thika</a> </div>
                </div>
                <hr>
                <div class="card">
                    <div class="option"><a class="info" href="{{url_for('main.checkout')}}">Muranga-Nyahururu</a></div>
                </div>
                <hr>
                <div class="card">
                    <div class="option"><a class="info" href="{{url_for('main.checkout')}}">Machakos-Makueni</a> </div>
                </div>
                <hr>
                <div class="card">
                    <div class="option"><a class="info" href="{{url_for('main.checkout')}}">Meru-Kirinyaga</a> </div>
                </div>
                <hr>
                <div class="card">
                    <div class="option"><a class="info" href="{{url_for('main.checkout')}}">Taraka ninyi-Mwiki</a>
                    </div>
                </div>
                <hr>
                <div class="card">
                    <div class="option"><a class="info" href="{{url_for('main.checkout')}}">Nyeri-Mwoko</a></div>
                </div>
                <hr>
                <div class="card">
                    <div class="option"><a class="info" href="{{url_for('main.checkout')}}">Mwiki-Kiambu</a> </div>
                </div>
                <hr>
                <div class="card">
                    <div class="option"><a class="info" href="{{url_for('main.checkout')}}">Muranga-Thika</a></div>
                </div>
                <hr>
                <div class="card">
                    <div class="option"><a class="info" href="{{url_for('main.checkout')}}">Nyeri-Embu</a></div>
                </div>
                <hr>
            </div>
            <p>
                We’re expanding to over 150 delivery points in Central <br>Kenya within the next 3 months</p>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="strong">
                    <h5>Nairobi Kenya</h5> Delivery Points
                </div>
            </div>
            <div class="select">
                <div class="card">
                    <div class="option"><a class="info" href="{{url_for('main.checkout')}}">Ngara-kibra</a></div>
                </div>
                <hr>
                <div class="card">
                    <div class="option"><a class="info" href="{{url_for('main.checkout')}}">Kasabuni-Karen</a> </div>
                </div>
                <hr>
                <div class="card">
                    <div class="option"><a class="info" href="{{url_for('main.checkout')}}">CBD-All Route</a> </div>
                </div>
                <hr>
                <div class="card">
                    <div class="option"><a class="info" href="{{url_for('main.checkout')}}">Eastligh-kasarani</a> </div>
                </div>
                <hr>
                <div class="card">
                    <div class="option"><a class="info" href="{{url_for('main.checkout')}}">Langata-imara daima</a>
                    </div>
                </div>
                <hr>
                <div class="card">
                    <div class="option"><a class="info" href="{{url_for('main.checkout')}}">Mlimani-Westlands</a> </div>
                </div>
                <hr>
                <div class="card">
                    <div class="option"><a class="info" href="{{url_for('main.checkout')}}">Mlolongo-jogoo </a></div>
                </div>
                <hr>
                <div class="card">
                    <div class="option"><a class="info" href="{{url_for('main.checkout')}}">Gikomba-all routes</a>
                    </div>
                </div>
                <hr>
                <div class="card">
                    <div class="option"><a class="info" href="{{url_for('main.checkout')}}">Kileleshwa-Roysambu</a>
                    </div>
                </div>
            </div>
            <hr>
            <p>
                We’re expanding to over 150 delivery points in Nairobi <br>Kenya within the next 2 months</p>
        </div>


    </div>


</div>

{%endblock%}