{%extends "base.html"%}

{%block content%}
<div class="container">
    <div class="row">

        <div class="card">
            <h1>Get your goods delivered for cheaper price across our agent network<h1>
        </div>

        <hr>

        <div class="col-md-4">
            <div class="strong">
                <div class="card">
                    <h5>Western Kenya</h5> Delivery Points
                </div>
            </div>
            <div class="select">
                <div class="card">
                    <div class="option">Kericho-busia</div>
                </div>
                <hr>
                <div class="card">
                    <div class="option">Kakamega-bungoma</div>
                </div>
                <hr>
                <div class="card">
                    <div class="option">kisii-kekoka</div>
                </div>
                <hr>
                <div class="card">
                    <div class="option">kisumu-homa bay</div>
                </div>
                <hr>
                <div class="card">
                    <div class="option">kisumu-bungoma</div>
                </div>
                <hr>
                <div class="card">
                    <div class="option">kisumu-busia</div>
                </div>
                <hr>
                <div class="card">
                    <div class="option">kisii-nyamira</div>
                </div>
                <hr>
                <div class="card">
                    <div class="option">kercho- kisumu</div>
                </div>
                <hr>
                <div class="card">
                    <div class="option">Nakuru-kericho </div>
                </div>
                <hr>
            </div>

            <p>We’re expanding to over 150 delivery points in Western<br> Kenya within the next 3 months</p>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="strong">
                    <h5>Central Kenya</h5> Delivery Points
                </div>
            </div>
            <div class="select">
                <div class="card">
                    <div class="option">Kiambu-thika </div>
                </div>
                <hr>
                <div class="card">
                    <div class="option">Muranga-Nyahururu </div>
                </div>
                <hr>
                <div class="card">
                    <div class="option">Machakos-Makueni </div>
                </div>
                <hr>
                <div class="card">
                    <div class="option">Meru-Kirinyaga </div>
                </div>
                <hr>
                <div class="card">
                    <div class="option">Taraka ninyi-Mwiki </div>
                </div>
                <hr>
                <div class="card">
                    <div class="option"> Nyeri-Mwoko</div>
                </div>
                <hr>
                <div class="card">
                    <div class="option">Mwiki-Kiambu </div>
                </div>
                <hr>
                <div class="card">
                    <div class="option"> Muranga-Thika</div>
                </div>
                <hr>
                <div class="card">
                    <div class="option"> Nyeri-Embu</div>
                </div>
                <hr>
            </div>
            <p>
                We’re expanding to over 150 delivery points in Central <br>Kenya within the next 3 months</p>
        </div>

        <div class="col-md-4">
            <div class="card">
                <div class="strong">
                    <h5>Nairobi Kenya</h5> Delivery Points
                </div>
            </div>
            <div class="select">
                <div class="card">
                    <div class="option">Ngara-kibra </div>
                </div>
                <hr>
                <div class="card">
                    <div class="option"> Kasabuni-Karen</div>
                </div>
                <hr>
                <div class="card">
                    <div class="option">CBD-All Route </div>
                </div>
                <hr>
                <div class="card">
                    <div class="option">Eastligh-kasarani </div>
                </div>
                <hr>
                <div class="card">
                    <div class="option">Langata-imara daima </div>
                </div>
                <hr>
                <div class="card">
                    <div class="option">Mlimani-Westlands </div>
                </div>
                <hr>
                <div class="card">
                    <div class="option">Mlolongo-jogoo </div>
                </div>
                <hr>
                <div class="card">
                    <div class="option">Gikomba-all routes </div>
                </div>
                <hr>
                <div class="card">
                    <div class="option">Kileleshwa-Roysambu </div>
                </div>
            </div>
            <hr>
        </div>

        <p>
            We’re expanding to over 150 delivery points in Nairobi <br>Kenya within the next 2 months</p>
    </div>


</div>

{%endblock%}