{%extends "base.html"%}

{%block content%}
<link href="https://fonts.googleapis.com/css?family=Rye&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymou"></script>
<div class="container-fluid">
    <div class="container">
        <div class="card">
            <h2>send Your goods countrywide<br>at affordabable price </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 ">
            <div class="hovereffect">
                <div class="container crosshover">
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTYvzPetNt_xHQVzuDdfpO-sxDViFADlbu2zvrC6YFpnRctMYbE&s">
                    <div class="overlay">
                        <h2>The shild</h2>
                        <a class="info" href="{{url_for('main.delivery')}}">
                            <p>Nairobi- Busia Ksh1300</p>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="hovereffect">
                <div class="container crosshover">
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSQ6vAQmf3zc_df1QaaEzP_M4MqasDhXvFWLUkv5IFru-uFcO-T&s">
                    <div class="overlay">
                        <h2>Redeemer<h2>
                            <a class="info" href="{{url_for('main.delivery')}}">
                                <p>Mombasa-Nairobi Ksh2000</p>
                            </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="hovereffect">
                <div class="container crosshover">
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhIWs8UOgtM_ho8VytuTsHmVgGkAZZj5QNpsXeR3WVkVMz7eoj&s">
                    <div class="overlay">
                        <h2>The richer</h2>
                        <a class="info" href="{{url_for('main.delivery')}}">
                            <p>Kisumu-kakamega Ksh300</p>
                        </a>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-3 ">
            <div class="hovereffect">
                <div class="container crosshover">
                    <img
                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6-gs856do2DSikmTdB71xQ9Kr_rdXfQDLFYC7c5eUzJXxoVlk&s">
                    <div class="overlay">
                        <h2>Saviour</h2>
                        <a class="info" href="{{url_for('main.delivery')}}">
                            <p>Kitale-Voi Ksh3000</p>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="row">
            <div class="col-md-3 ">
                    <div class="hovereffect">
                        <div class="container crosshover">
                            <img
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOxRat2ATNvDGBDeSCQn7CakrUvgCnN43oQa6Vs3oGAXjB5RRF-A&s">
                            <div class="overlay">
                                <h2>Saviour</h2>
                                <a class="info" href="{{url_for('main.delivery')}}">
                                    <p>Lodwar-Kiambu Ksh3000</p>
                                </a>
                            </div>
        
                        </div>
                    </div>
                </div><div class="col-md-3 ">
                        <div class="hovereffect">
                            <div class="container crosshover">
                                <img
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQhxMPLPHApfUh-jsXtth6YCEsJPPRSjNSFUdon-iODz7zprMfO&s">
                                <div class="overlay">
                                    <h2>Saviour</h2>
                                    <a class="info" href="{{url_for('main.delivery')}}">
                                        <p>Nakuru-Bondo Ksh3000</p>
                                    </a>
                                </div>
            
                            </div>
                        </div>
                    </div><div class="col-md-3 ">
                            <div class="hovereffect">
                                <div class="container crosshover">
                                    <img
                                        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS7iwKLYIwjlM8GVJ3axZ2iX-HuTEGjRHsOgTSTKRVZB27hMRTZFg&s">
                                    <div class="overlay">
                                        <h2>Saviour</h2>
                                        <a class="info" href="{{url_for('main.delivery')}}">
                                            <p>Lamu-Machakos Ksh3000</p>
                                        </a>
                                    </div>
                
                                </div>
                            </div>
                        </div><div class="col-md-3 ">
                                <div class="hovereffect">
                                    <div class="container crosshover">
                                        <img
                                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSxaiOZLBdZafUyR5e5R9_GQoD6N0slDlOMWtdevFPVUpkdWsww&s">
                                        <div class="overlay">
                                            <h2>Saviour</h2>
                                            <a class="info" href="{{url_for('main.delivery')}}">
                                                <p>Thika-Mumias Ksh3000</p>
                                            </a>
                                        </div>
                    
                                    </div>
                                </div>
                            </div>
    </div>
</div>
{%endblock%}